@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  /* background-color: black;
    padding: 20px;
    text-align: center;
    width: 100vw;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 1000; */
  background-color: #f2fdeb;
  height: 100vh;
  width: 100vw;
}
.restuarant_name {
  color: #006e1a;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 1000;
  font-size: 30px;
  padding-top: 30vh;
  text-align: center;
}
.restuarant_name_splash{
  color: #006e1a;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 1000;
  font-size: 30px;
  /* padding-top: 30vh; */
  text-align: center;
  gap: 1rem;

}
.bottombar {
  height: 10vh;
  width: 100vw;
  background-color: #e6f1e0;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.yesbutton {
  background-color: #006e1a;
  color: white;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  /* display: inline-flex;       */
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
}

.yesbutton:hover {
  background-color: wheat; /* Darker green on hover */
}

.yesbutton .checkmark {
  margin-right: 8px; /* Space between icon and text */
}

.nobutton {
  background-color: #82db7d;
  color: #002203;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  /* display: inline-flex;       */
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nobutton:hover {
  background-color: wheat; /* Darker green on hover */
}

.nobutton .checkmark {
  margin-right: 8px; /* Space between icon and text */
}

.prompt{
  color: #006e1a; 
  /* background-color: #82db7d; */
  text-align: center;
  height: 20%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
.loading_container{
  background-color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  height: 40px;
  border-radius: 0 0 100px 100px;
  border: 5px solid #538a2d;
  border-top: 0;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
    radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
    #ff1643;
  --c:radial-gradient(farthest-side,#000 94%,#0000);
  -webkit-mask:
    linear-gradient(#0000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#0000 0 0);
  -webkit-mask-composite:destination-out;
  mask-composite:exclude,add,add,add,add,add,add;
  -webkit-mask-repeat: no-repeat;
  animation: l8 3s infinite;
}
@keyframes l8 {
 0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
 15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
 30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
 45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
 60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
 75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
 90%,
 100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}


.splashscreen{
  background-color: #e6f1e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  /* gap: 1rem; */
}