
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.background {
    /* background-color: black;
    padding: 20px;
    text-align: center;
    width: 100vw;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 1000; */
    background-color: #F2FDEB;
    height: 100%;
    width: 100vw;
    padding-bottom: 20px;
    padding-left: 5vw;
  }

  .appbar_heading{
    color: #006e1a;
    font-size: 1.2rem;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 800;
  }
  .app_bar{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
    align-items: center;
    justify-items: center;
    align-self: center;
  }
  .middlepart{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-items: center;
  }

  .dropdown{
    width: 200px;

    /* text-align: center; */
    /* display: flex; */
    /* background-color: aqua; */
  }
  .dropdowncontainer{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    /* background-color: orange; */
    align-items: center;
  }

 
  .scroll_container {
    /* width: 100vw;  */
    overflow-x: auto;
    white-space: nowrap; /* Prevents items from wrapping to the next line */
    margin: 0px 0px 0px 0px;
    /* margin-left: 30px; */
    box-sizing: border-box;
    ::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.scroll_content {
    display: inline-block; /* Allows content to scroll horizontally */
}
.category_heading{
  color: #006E1A;
  margin: 30px 0px 4px 0px;
}